.nav-link{
    color: white;
    font-family: helvetica;
    font-size: 25px;
}

.nav-link.active{
    color: #aaf;
    font-weight: bold;
}

  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
  }

.carousel-indicators{
	bottom:45%;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-inner{
	width: 100%;
	height: 100%;
}

.carousel-caption{
	bottom:46%;
	cursor: default;
}

.carousel-caption h1{
	color: #00f;
	font-size: 50px;
	font-family: helvetica;
}

.carousel-caption p{
	color: #00f;
	font-size: 15px;
	font-weight: bold;
}

/*Menu Icon CSS*/
.wrapper-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 150ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 150ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 150ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}