#wrapper {
	display: inline-block;
	border-radius: 500px;
	position: relative;
  	padding: 20px;
	cursor: pointer;
}

.line {
	position: absolute;
	height: 6px;
	width: 100%;
	background: white;
	border-radius: 8px;
	transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}
.top {
	top: 18%;
}
.middle {
	top: 48%;
}
.bottom {
	top: 78%;
}
.icon.close .top {
	transform: rotate(45deg);
	top: 48%;
}
.icon.close .middle, .icon.close .bottom {
	transform: rotate(-45deg);
	top: 48%;
}

.nav-link{
    color: white;
    font-family: helvetica;
    font-size: 25px;
}

.nav-link.active{
    color: #aaf;
    font-weight: bold;
}

  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

.carousel-indicators{
	bottom:45%;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-inner{
	width: 100%;
	height: 100%;
}

.carousel-caption{
	bottom:46%;
	cursor: default;
}

.carousel-caption h1{
	color: #00f;
	font-size: 50px;
	font-family: helvetica;
}

.carousel-caption p{
	color: #00f;
	font-size: 15px;
	font-weight: bold;
}